<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bypass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bypass.Properties.Settings>
            <setting name="StartFromStr" serializeAs="String">
                <value />
            </setting>
            <setting name="ToFromStr" serializeAs="String">
                <value />
            </setting>
            <setting name="IntervalInt" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="QQWindowStr" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyWayBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IntervalBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailUserNameStr" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailPasswordStr" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailPhoneStr" serializeAs="String">
                <value />
            </setting>
            <setting name="SMSBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PartSubBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CDNBool" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailServerStr" serializeAs="String">
                <value>smtp.126.com</value>
            </setting>
            <setting name="DateStr" serializeAs="String">
                <value />
            </setting>
            <setting name="PassengersJson" serializeAs="String">
                <value />
            </setting>
            <setting name="UrlAddressStr" serializeAs="String">
                <value>leftTicket/query</value>
            </setting>
            <setting name="FeixinBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FeixinUserNameStr" serializeAs="String">
                <value />
            </setting>
            <setting name="FeixinPassowrdStr" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyIPStr" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPortStr" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUserNameStr" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPasswordStr" serializeAs="String">
                <value />
            </setting>
            <setting name="LogsBool" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlackHouseBool" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MoreTripsBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DMTUserNameStr" serializeAs="String">
                <value />
            </setting>
            <setting name="DMTPassWordStr" serializeAs="String">
                <value />
            </setting>
            <setting name="WeixinNumberStr" serializeAs="String">
                <value />
            </setting>
            <setting name="BlackHouseInt" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="NoSeatBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CodeNoticeBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkRoom" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="EmailSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FastCDNStr" serializeAs="String">
                <value />
            </setting>
        </Bypass.Properties.Settings>
    </userSettings>
</configuration>